/* Add your own CSS code below */
.heart-icon{
    color: #c85308;
}

@media screen and (min-width: 992px) {
    .hero__title {
        font-size: 4rem;
    }
    
}
.main-nav__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (min-width: 767px) {
    .views {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
    
    }
    .view-list__item, .views__all, .views__title{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
}
.contact-form__field{
    margin-bottom: 1rem;
}
.branch-form{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
}
.main-article{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-article h1{
    display: flex;
    flex-direction: row;
    align-self:flex-start;
    margin-left: 15rem;
}
.main-article p{
    max-width: 50em;

}
.branch-form label{
    margin-top: 0.5rem;
}