.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first{

 align-items: flex-end;
}
.countries--second{
flex-direction: row-reverse;
align-items: flex-end;
}
.countries--third{
  align-items: flex-start;
}
.countries--third
  .country--brazil{
    align-self: flex-end;
  }
.countries--fourth
{ flex-direction: column;
  justify-content: center;
  align-items:flex-end;
}
.countries--fourth
  .country--laos{
    align-self: center;
  }
.countries--fourth
  .country--ethiopia{
    align-self: center;
  }
.countries--fifth{
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-around;
}
.countries--fifth
  .country--laos{order: 5;}
  
.countries--fifth
  .country--uganda{order:4; align-self: center;}
