/* Try different box model properties below */
.site-wrapper>div:first-child p{
    color: white;
    margin-bottom: 0%;
}
.site-wrapper div:last-child p{
    font-size: 12px;
    text-align: center;
}
.messages div:last-child > p{
   box-shadow: 4px 4px 0 #dba944 ;
}
